
<% if Restaurante.all.count == 0 %>
  <h1 align="center">No hay restaurantes para buscar</h1>
  <h1 align="center"></h1>

<% else %>
  <h1 align="center">B煤squeda avanzada</h1>

  <%= simple_form_for(@search) do |f| %>
    <div class="form-inputs">
      <% unless Plato.all.count == 0 %>
        <%= f.input :opcion, label: '驴Sobre que objeto deseas buscar?',hint: 'Sobre que deseas hacer la b煤squeda',
                      as: :radio_buttons, collection: [['Restaurante', 0],['Plato', 1]], checked: ['Restaurante', '0'] %>
        <%= f.input :keyword, hint: 'Palabra clave a buscar'%>
        <%= f.input :ubicacion, hint: 'Busca por descripci贸n (plato) o direcci贸n (restaurante)', label: 'Descripci贸n' %>
        <%= f.input :min_rating, label: 'Valoraci贸n m铆nima', collection: 0..5, selected: 0, hint: 'Indica valoraci贸n m铆nimima' %>
        <%= f.input :max_rating, label: 'Valoraci贸n m谩xima', collection: 0..5, selected: 5, hint: 'Indica valoraci贸n m谩xima' %>
      <% else %>
        <%= f.input :opcion, label: '驴Sobre que objeto deseas buscar?',hint: 'Sobre que deseas hacer la b煤squeda',
                    as: :radio_buttons, collection: [['Restaurante', 0]], checked: ['Restaurante', '0'] %>
        <%= f.input :keyword, hint: 'Palabra clave a buscar'%>
        <%= f.input :ubicacion, hint: 'Busca por direcci贸n', label: 'Descripci贸n' %>
        <%= f.input :min_rating, label: 'Valoraci贸n m铆nima', collection: 0..5, selected: 0, hint: 'Indica valoraci贸n m铆nimima' %>
        <%= f.input :max_rating, label: 'Valoraci贸n m谩xima', collection: 0..5, selected: 5, hint: 'Indica valoraci贸n m谩xima' %>
        </div>
    <% end %>
    <%= f.button :submit, 'Buscar', class:"btn btn-outline-dark my-2 my-sm-0" %>
    <%= link_to 'Volver', root_path, class:"btn btn-outline-dark my-2 my-sm-0" %>
  <% end %>
<% end %>
