<%= hidden_field_tag(:id_restaurante, params[:id_restaurante]) %>

<h1>Nuevo Plato</h1><br>

<%= simple_form_for(@plato, url: platos_path(@plato, :id_restaurante => params[:id_restaurante]) ) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :plato_img %>
    <%= f.input :nombre %>
    <%= f.input :descripcion, :hint => "Breve descripción del plato." %>
    <%= f.input :precio, :label => "Ingresa un precio de venta" %>
    <%= f.input :cantidad_personas_sugeridas, :label => "Cantidad de personas surgeridas para el plato" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-outline-dark my-2 my-sm-0"%>
    <%= link_to 'Volver', restaurante_path(params[:id_restaurante]), class:"btn btn-outline-dark my-2 my-sm-0"%>
  </div>
<% end %>


