<h1> Editar comentario</h1>

<%=simple_form_for([@plato, @plato_review]) do |f| %>
  <div id="rating-form">
    <label>Valoración </label>
  </div>

  
  <%= f.input :comentario %>
  <%= f.hidden_field :id_restaurante, value: params[:id_restaurante] %>
  <%= f.button :submit , class: "btn  btn-outline-dark" %>
  <%= link_to "Back", plato_path(@plato, :id_restaurante => params[:id_restaurante] ), class: "btn btn-outline-dark" %>
<% end %>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>