
  <h4> <%= User.find(review.user_id).nombre%>:</h4>
  <p> "<%= review.comentario %>" </p>
  <div class="review-rating" data-score="<%= review.rating %>"></div>

  <% if user_signed_in? %>
    <% if current_user.id == review.user_id %>
      <br>
      <%= link_to 'Editar', edit_restaurante_review_path(review.restaurante, review), class: "btn  btn-outline-dark"  %>
    <% end %>

    <%if current_user.id == review.user_id || current_user.email == "admin@uc.cl" %>
      <%= link_to 'Elimiar', restaurante_review_path(review.restaurante, review), method: :delete,
                data:{confirm: '¿Segur@ que deseas eliminar tu comentario?'},class: "btn  btn-outline-danger"  %>
      <br>
    <% end %>
  <% end %>
  <br>


